* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Sofia Sans", sans-serif;
  color: #444;
  background-color: #fdfdfd;
  height: 100vh;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-primary {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.count-down-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: #f3f3f3;
  padding: 2.5rem 10rem;
  margin-bottom: 4rem;
}

.count-down-clock-point {
  font-size: 7rem;
}

.count-down-number {
  font-size: 20rem;
}

.count-down-clock-item {
  position: relative;
}

.count-down-desc {
  font-size: 1.6rem;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 80%;
}

/* Count down form  */
.count-down-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}

.date-input {
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: inherit;
  padding: 0.5rem 1rem;
  color: #444444;
}

.input-desc {
  font-size: 2rem;
}

.btn {
  font-family: inherit;
  padding: 2rem 4rem;
  font-size: 2rem;
  border: none;
  color: white;
  background-color: #9be15d;
  cursor: pointer;
}
